<%= simple_form_for [local_assigns[:game], local_assigns[:move]].compact do |f| %>
  <div class="form-group">
    <label class="control-label">Game</label>
    <p class="form-control-static"><%= move.game %></p>
  </div>

  <%= f.association :player, label_method: :titleized_color, value_method: :id,
    include_blank: false, collection: Player.for_game_user(@game, current_user), label: 'Color' %>
  <%= f.input :notation %>
  <%= f.button :submit, 'Save' %>
<% end %>
