<%- content_for(:title) { "Moves for #{@game}" } -%>
<%- content_for(:back_link) { link_to 'Back to game', @game } -%>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Color</th>
      <th>Notation</th>
      <th>Played</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- if @moves.each do |move| -%>
      <tr>
        <td><%= move.number %></td>
        <td><%= move.color.titleize %></td>
        <td><%= move.notation %></td>
        <td><%= move.created_at %></td>
        <td><%= link_to 'Show', move %></td>
      </tr>
    <%- end.empty? -%>
      <tr>
        <td colspan="9">There are currently no moves.</td>
      </tr>
    <%- end -%>
  </tbody>
</table>
