<%- content_for(:title) { "Move #{@move.number}" } -%>

<p>
  <strong>Game:</strong>
  <%= link_to @move.game, @move.game %>
</p>

<p>
  <strong>Number:</strong>
  <%= @move.number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @move.color %>
</p>

<p>
  <strong>Notation:</strong>
  <%= @move.notation %>
</p>

<p>
  <strong>Played:</strong>
  <%= @move.created_at %>
</p>

<%= render partial: "board", object: @move %>

<br>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', game_moves_path(@move.game) %>
