<%- content_for(:title) { "Move #{@move.number}" } -%>
<%- content_for(:back_link) { link_to 'Back', game_moves_path(@move.game) } -%>

<p>
  <strong>Game:</strong>
  <%= link_to @move.game, @move.game %>
</p>

<p>
  <strong>Number:</strong>
  <%= @move.number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @move.color %>
</p>

<p>
  <strong>Notation:</strong>
  <%= @move.notation %>
</p>

<p>
  <strong>Played:</strong>
  <%= @move.created_at %>
</p>

<%= render partial: "board", object: @move %>

<%= render 'breadcrumb', links: [['Games', games_path], [@move.game, @move.game], ['Moves', game_moves_path(@move.game)], "Move #{@move.number}"] %>
