<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @move.game %>
</p>

<p>
  <strong>Number:</strong>
  <%= @move.number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @move.color %>
</p>

<p>
  <strong>Notation:</strong>
  <%= @move.notation %>
</p>

<div id="board" data-type="move" data-id="<%= @move.id %>" style="width: 400px"></div>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
