<%- content_for(:title) { 'Games' } -%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>White</th>
      <th>Black</th>
      <th>Started</th>
      <th>Completed</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%- if @games.each do |game| -%>
      <tr>
        <td><%= game.name %></td>
        <td><%= player_link game.white_player %></td>
        <td><%= player_link game.black_player %></td>
        <td><%= game.created_at %></td>
        <td><%= game.completed_at %></td>
        <td><%= game.result %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%- end.empty? -%>
      <tr>
        <td colspan="9">There are currently no games.</td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
