<%- content_for(:title) { 'Games' } -%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>White</th>
      <th>Black</th>
      <th>Started</th>
      <th>Completed</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <%- if @games.each do |game| -%>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= player_link game.white_player %></td>
        <td><%= player_link game.black_player %></td>
        <td><%= game.created_at %></td>
        <td><%= game.completed_at %></td>
        <td><%= game.result %></td>
      </tr>
    <%- end.empty? -%>
      <tr>
        <td colspan="9">There are currently no games.</td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%= render 'breadcrumb', links: ['Games'] %>
