<%- content_for(:title) { @game.to_s } -%>

<%= render partial: "board", object: @game %>

<p>
  <em class="active_player-js"><%= @game.active_player.to_s.titleize %>'s move</em>
</p>

<p>
  <strong>White player:</strong>
  <%= player_link @game.white_player %>
</p>

<p>
  <strong>Black player:</strong>
  <%= player_link @game.black_player %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to @game.owner, @game.owner %>
</p>

<p>
  <strong>Moves:</strong>
  <span class="moves-js"><%= @game.moves.count %></span><% unless @game.moves.count.zero? %> (<%= link_to 'list', game_moves_path(@game) %>)<% end %>
</p>

<p>
  <strong>Result:</strong>
  <span class="result-js"><%= @game.result %></span>
</p>

<p>
  <strong>Completed at:</strong>
  <span class="completed_at-js"><%= @game.completed_at %></span>
</p>

<%- if can?(:new, @move) || can?(:update, @game) -%>
  <p>
    <strong>Actions:</strong>
    <%= game_action_links @game, @move %>
  </p>
<%- end -%>
