<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Result:</strong>
  <span class="result-js"><%= @game.result %></span>
</p>

<p>
  <strong>Completed at:</strong>
  <span class="completed_at-js"><%= @game.completed_at %></span>
</p>

<div id="board" data-type="game" data-id="<%= @game.id %>" style="width: 400px"></div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
