<%- content_for(:title) { @game.to_s } -%>

<%= render partial: "board", object: @game %>

<br>

<p>
  <strong>White player:</strong>
  <%= player_link @game.white_player %>
</p>

<p>
  <strong>Black player:</strong>
  <%= player_link @game.black_player %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to @game.owner, @game.owner %>
</p>

<p>
  <strong>Result:</strong>
  <span class="result-js"><%= @game.result %></span>
</p>

<p>
  <strong>Completed at:</strong>
  <span class="completed_at-js"><%= @game.completed_at %></span>
</p>

<br>

<%= link_to 'Moves', game_moves_path(@game) %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
