<%- content_for(:title) { 'Game' } -%>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Result:</strong>
  <span class="result-js"><%= @game.result %></span>
</p>

<p>
  <strong>Completed at:</strong>
  <span class="completed_at-js"><%= @game.completed_at %></span>
</p>

<%= render partial: "board", object: @game %>

<br>

<%= link_to 'Moves', game_moves_path(@game) %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
