<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @game.completed_at %>
</p>

<div id="board" data-type="game" data-id="<%= @game.id %>" style="width: 400px"></div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
