<!DOCTYPE html>
<html>
<%= render 'head' %>

  <body>
    <%= render 'navbar' %>

    <div class="container">
      <%= render 'flash' %>

      <div class="page-header">
        <h1><%= yield :title %></h1>
      </div>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false' %>
  </body>
</html>
